.banner {
    padding: 0;
    width: auto;
    height: 100vh;
    color: #fff;
    top: -2rem;
    position: relative;
}
.banner__trailer {
    font-size: 40px;
    margin-left: 450px;
    margin-bottom: 40px;
}

.featured--vertical {
    width: 120%;
    height: 300%;
    margin-left: -80px;
    margin-top: 220px;
    margin-bottom: -29px;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--horizontal {
    width: 50%;
    height: 200%;
    margin-top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
    background: linear-gradient(to right, #111 10%, transparent 90%);
    
}

.feature--description {
    height: 0%;
    font-size: 25px;
    color: #999;
    max-width: 35%;
}

.banner__content {
    padding: 0 3vw;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 2vw;
}

.banner__title {
    font-size: 4vw;
    height: -8%;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: -20px;
    font-weight: 800;
    max-width: 70rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,.85);
}

.banner__overview {
    margin: 1vw 0;
    margin-left: 80px;
    margin-right: -80px;
    max-width: 40vw;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0,0,0,.95);
}

.banner__overview--expanded {
    max-width: 45vw;
    margin-left: 80px;
    
}

.banner__moreInfo {
    font-size: 15px;
    margin-left: 1vw;
    cursor: pointer;
    transition: all 0.2s;
}

.banner__moreInfo:hover {
    transform: scale(1.2);
}

.banner__buttons {
    margin: 1vw 0;
    display: flex;
}

.banner__button--icon {
    margin-right: .8vw;
    font-size: 1vw;
}

.banner__button--more .banner__button--icon {
    font-size: 1.5vw;
}

.banner__button {
    
    background-color: rgba(100, 100, 100, 0.5);
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: .6vw 1.5vw;
    min-width: 3vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
}

.banner__button--play {
    margin-left: 80px;
    color: #333;
    background-color: #fff;
}

.banner__button span {
    margin-top: -.4vw;
    font-size: 1.3vw;
}

.banner__button--play:hover {
    background-color: rgb(225, 225, 225);
}

.banner__button--more:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.banner__button:first-of-type {
    margin-right: 1vw;
}

.banner__gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
@media (max-width: 1440px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 55vh;
    color: #fff;
    position: relative;
    }
    .banner__overview {
        display: none;
    }
    .featured--vertical {
        width: 115%;
        height: 120%;
        margin-left: -100px;
        margin-top: -200px;
        margin-bottom: -1px;
        background: linear-gradient(to top,  10%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 100%;
        margin-top: 92px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 60px;
        background: linear-gradient(transparent);
        
    }
    .banner__content {
        padding-bottom: 1vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 0rem;
    }
    .banner__overview {
        margin: 1vw 0;
        margin-left: 800px;
        margin-right: -800px;
        max-width: 40vw;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 1439px) {
    .banner {
        width: auto;
        margin-top: 0px;
        height: 87vh;
        color: #fff;
        position: relative;
        }
        .banner__overview {
            display: none;
        }
        .featured--vertical {
            width: 115%;
            height: 150%;
            margin-left: -100px;
            margin-top: -80px;
            margin-bottom: -1px;
            background: linear-gradient(to top,  10%, transparent 90%);
        }
        .featured--horizontal {
            width: auto;
            height: 100%;
            margin-top: 92px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 60px;
            background: linear-gradient(transparent);
            
        }
        .banner__content {
            padding-bottom: 1vw;
        }
    
        .banner__title {
            margin-top: -60px;
            font-size: 6vw;
        }
    
        .banner__button {
            padding: 1.2vw 2.5vw;
    
        }
    
        .banner__button span {
            font-size: 2.5vw;
        }
        
        .banner__button--icon {
            font-size: 2vw;
        }
    
        .banner__button--more .banner__button--icon {
            font-size: 3vw;
        }
    
        .banner__gradient {
            height: 0rem;
        }
        .banner__overview {
            margin: 1vw 0;
            margin-left: 800px;
            margin-right: -800px;
            max-width: 40vw;
            font-size: 30px;
            font-weight: 400;
            line-height: 1.4;
            text-shadow: 2px 2px 4px rgba(0,0,0,.95);
        }
}
@media (max-width: 1400px) {
    .banner {
        width: auto;
        margin-top: 0px;
        height: 80vh;
        color: #fff;
        position: relative;
        }
        .banner__overview {
            display: none;
        }
        .featured--vertical {
            width: 115%;
            height: 150%;
            margin-left: -100px;
            margin-top: -80px;
            margin-bottom: -1px;
            background: linear-gradient(to top,  10%, transparent 90%);
        }
        .featured--horizontal {
            width: auto;
            height: 100%;
            margin-top: 92px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 60px;
            background: linear-gradient(transparent);
            
        }
        .banner__content {
            padding-bottom: 1vw;
        }
    
        .banner__title {
            margin-top: -60px;
            font-size: 6vw;
        }
    
        .banner__button {
            padding: 1.2vw 2.5vw;
    
        }
    
        .banner__button span {
            font-size: 2.5vw;
        }
        
        .banner__button--icon {
            font-size: 2vw;
        }
    
        .banner__button--more .banner__button--icon {
            font-size: 3vw;
        }
    
        .banner__gradient {
            height: 0rem;
        }
        .banner__overview {
            margin: 1vw 0;
            margin-left: 800px;
            margin-right: -800px;
            max-width: 40vw;
            font-size: 30px;
            font-weight: 400;
            line-height: 1.4;
            text-shadow: 2px 2px 4px rgba(0,0,0,.95);
        }
}
@media (max-width: 1300px) {
    .banner {
        width: auto;
        margin-top: 0px;
        height: 55vh;
        color: #fff;
        position: relative;
        }
        .banner__overview {
            display: none;
        }
        .featured--vertical {
            width: 115%;
            height: 150%;
            margin-left: -100px;
            margin-top: -80px;
            margin-bottom: -1px;
            background: linear-gradient(to top,  10%, transparent 90%);
        }
        .featured--horizontal {
            width: auto;
            height: 100%;
            margin-top: 92px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 60px;
            background: linear-gradient(transparent);
            
        }
        .banner__content {
            padding-bottom: 1vw;
        }
    
        .banner__title {
            margin-top: -60px;
            font-size: 6vw;
        }
    
        .banner__button {
            padding: 1.2vw 2.5vw;
    
        }
    
        .banner__button span {
            font-size: 2.5vw;
        }
        
        .banner__button--icon {
            font-size: 2vw;
        }
    
        .banner__button--more .banner__button--icon {
            font-size: 3vw;
        }
    
        .banner__gradient {
            height: 0rem;
        }
        .banner__overview {
            margin: 1vw 0;
            margin-left: 800px;
            margin-right: -800px;
            max-width: 40vw;
            font-size: 30px;
            font-weight: 400;
            line-height: 1.4;
            text-shadow: 2px 2px 4px rgba(0,0,0,.95);
        }
}
@media (max-width: 1024px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 55vh;
    color: #fff;
    position: relative;
    }
    .banner__overview {
        display: none;
    }
    .featured--vertical {
        width: 115%;
        height: 120%;
        margin-left: -100px;
        margin-top: -200px;
        margin-bottom: -1px;
        background: linear-gradient(to top,  10%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 100%;
        margin-top: 92px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 50px;
        padding-top: 60px;
        background: linear-gradient(transparent);
        
    }
    .banner__content {
        padding-bottom: 1vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 0rem;
    }
    .banner__overview {
        margin: 1vw 0;
        margin-left: 800px;
        margin-right: -800px;
        max-width: 40vw;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 1200px) {
    .banner {
            width: 100%;
            margin-top: 0px;
            height: 60vmax;
            color: #fff;
            margin-bottom: 10%;
            position: relative;
            }
            .banner__overview {
                display: none;
            }
            .featured--vertical {
                width: 115%;
                height: 120%;
                margin-left: -100px;
                margin-top: -100px;
                margin-bottom: -1px;
                background: linear-gradient(to top,  10%, transparent 90%);
            }
            .featured--horizontal {
                width: auto;
                height: 100%;
                margin-top: 92px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 30px;
                padding-bottom: 50px;
                padding-top: 60px;
                background: linear-gradient(transparent);
                
            }
            .banner__content {
                padding-bottom: 1vw;
            }
        
            .banner__title {
                font-size: 6vw;
            }
        
            .banner__button {
                padding: 1.2vw 2.5vw;
        
            }
        
            .banner__button span {
                font-size: 2.5vw;
            }
            
            .banner__button--icon {
                font-size: 2vw;
            }
        
            .banner__button--more .banner__button--icon {
                font-size: 3vw;
            }
        
            .banner__gradient {
                height: 0rem;
            }
            .banner__overview {
                margin: 1vw 0;
                margin-left: 800px;
                margin-right: -800px;
                max-width: 40vw;
                font-size: 30px;
                font-weight: 400;
                line-height: 1.4;
                text-shadow: 2px 2px 4px rgba(0,0,0,.95);
            }
}
@media (max-width: 1000px) {
        .banner {
            width: auto;
            margin-top: 0px;
            height: 55vh;
            color: #fff;
            position: relative;
            }
            .banner__overview {
                display: none;
            }
            .featured--vertical {
                width: 115%;
                height: 150%;
                margin-left: -100px;
                margin-top: -80px;
                margin-bottom: -1px;
                background: linear-gradient(to top,  10%, transparent 90%);
            }
            .featured--horizontal {
                width: auto;
                height: 100%;
                margin-top: 92px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 30px;
                padding-bottom: 50px;
                padding-top: 60px;
                background: linear-gradient(transparent);
                
            }
            .banner__content {
                padding-bottom: 1vw;
            }
        
            .banner__title {
                margin-top: -60px;
                font-size: 6vw;
            }
        
            .banner__button {
                padding: 1.2vw 2.5vw;
        
            }
        
            .banner__button span {
                font-size: 2.5vw;
            }
            
            .banner__button--icon {
                font-size: 2vw;
            }
        
            .banner__button--more .banner__button--icon {
                font-size: 3vw;
            }
        
            .banner__gradient {
                height: 0rem;
            }
            .banner__overview {
                margin: 1vw 0;
                margin-left: 800px;
                margin-right: -800px;
                max-width: 40vw;
                font-size: 30px;
                font-weight: 400;
                line-height: 1.4;
                text-shadow: 2px 2px 4px rgba(0,0,0,.95);
            }
}
@media (max-width: 775px) {
    .banner__overview {
        font-size: 1.1rem;
    }

    .banner__content {
        height: 75%;
    }

    .banner__overview--expanded {
        max-width: 75vw;
    }

    .banner__gradient {
        height: 8rem;
    }
}
@media (max-width: 768px) {
    .banner {
    width: auto;
    margin-top: 12px;
    height: 40vh;
    color: #fff;
    position: relative;
    }
    .banner__overview {
        display: none;
    }
    .featured--vertical {
        width: 115%;
        height: 140%;
        margin-left: px;
        margin-top: 0px;
        margin-bottom: -10px;
        background: linear-gradient(to right, #111 10%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 100%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 70px;
        background: linear-gradient(transparent);
        
    }
    .banner__content {
        padding-bottom: 1vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 0rem;
    }
    .feature--description {
        height: 100%;
        margin-left: 100px;
        font-size: 25px;
        color: #999;
        max-width: 35%;
    }
}
@media (max-width: 500px) {
    .banner {
    width: auto;
    margin-top: 12px;
    height: 25vh;
    color: #fff;
    position: relative;
    }
    .banner__overview {
        display: none;
    }
    .featured--vertical {
        width: 120%;
        height: 300%;
        margin-left: -80px;
        margin-top: 220px;
        margin-bottom: -29px;
        background: linear-gradient(to top,  10%, transparent 90%);
    }
    .featured--horizontal {
        width: 00%;
        height: 00%;
        margin-top: -700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 150px;
        padding-top: 70px;
        background: linear-gradient(transparent);
        
    }
    .banner__content {
        padding-bottom: vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 7rem;
    }
}
@media (max-width: 425px) {
    .banner {
    width: auto;
    margin-top: 12px;
    height: 25vh;
    color: #fff;
    position: relative;
    }
    .banner__overview {
        display: none;
    }
    .featured--vertical {
        width: 106%;
        height: 100%;
        margin-left: -15px;
        margin-top: 0px;
        margin-bottom: px;
        background: linear-gradient(to top,  10%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 100%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: -50px;
        padding-bottom: 100px;
        padding-top: 0px;
        background: linear-gradient(transparent);
        
    }
    .banner__content {
        padding-bottom: 1vw;
    }

    .banner__title {
        font-size: 6vw;
    }

    .banner__button {
        padding: 1.2vw 2.5vw;

    }

    .banner__button span {
        font-size: 2.5vw;
    }
    
    .banner__button--icon {
        font-size: 2vw;
    }

    .banner__button--more .banner__button--icon {
        font-size: 3vw;
    }

    .banner__gradient {
        height: 0rem;
    }
    .feature--description {
        height: 100%;
        margin-left: 100px;
        font-size: 25px;
        color: #999;
        max-width: 35%;
    }
}


