.banner {
    padding: 0;
    width: auto;
    height: 100vh;
    color: #fff;
    top: -2rem;
    position: relative;
}
.banner__trailer {
    font-size: 40px;
    margin-left: 450px;
    margin-bottom: 40px;
}

.featured--vertical {
    width: 120%;
    height: 300%;
    margin-left: -80px;
    margin-top: 220px;
    margin-bottom: -29px;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}
.featured--horizontal {
    width: 50%;
    height: 200%;
    margin-top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
    background: linear-gradient(to right, #111 10%, transparent 90%);
    
}

.feature--description {
    height: 0%;
    font-size: 25px;
    color: #999;
    max-width: 35%;
}

.banner__content {
    padding: 0 3vw;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 2vw;
}

.banner__title {
    font-size: 4vw;
    height: -8%;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: -20px;
    font-weight: 800;
    max-width: 70rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,.85);
}

.banner__overview {
    margin: 1vw 0;
    margin-left: 80px;
    margin-right: -80px;
    max-width: 40vw;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0,0,0,.95);
}

.banner__overview--expanded {
    max-width: 45vw;
    margin-left: 80px;
    
}

.banner__moreInfo {
    font-size: 15px;
    margin-left: 1vw;
    cursor: pointer;
    transition: all 0.2s;
}

.banner__moreInfo:hover {
    transform: scale(1.2);
}

.banner__buttons {
    margin: 1vw 0;
    display: flex;
}

.banner__button--icon {
    margin-right: .8vw;
    font-size: 1vw;
}

.banner__button--more .banner__button--icon {
    font-size: 1.5vw;
}

.banner__button {
    
    background-color: rgba(100, 100, 100, 0.5);
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: .6vw 1.5vw;
    min-width: 3vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
}

.banner__button--play {
    margin-left: 80px;
    color: #333;
    background-color: #fff;
}

.banner__button span {
    margin-top: -.4vw;
    font-size: 1.3vw;
}

.banner__button--play:hover {
    background-color: rgb(225, 225, 225);
}

.banner__button--more:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.banner__button:first-of-type {
    margin-right: 1vw;
}

.banner__gradient {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
@media (max-width: 1400px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 85vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 100px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 23px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 1190px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 70vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 250px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 1024px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 60vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 350px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 815px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 57vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 350px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 768px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 57vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 430px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 687px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 51vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 400px;
        margin-left: 80px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 80px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
}
@media (max-width: 599px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 40vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 550px;
        margin-left: 60px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 60px;
        margin-right: -80px;
        max-width: 40vw;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
    .banner__buttons{
        margin-left: -20px;

    }
}
@media (max-width: 425px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 35vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 580px;
        margin-left: 40px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 40px;
        margin-right: -80px;
        max-width: 60vw;
        font-size: 9px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
    .banner__buttons{
        margin-left: -40px;

    }
    .featured--vertical {
        width: 120%;
        height: 300%;
        margin-left: -60px;
        margin-top: 220px;
        margin-bottom: -29px;
        background: linear-gradient(to top, #111 20%, transparent 90%);
    }
}
@media (max-width: 375px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 35vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 590px;
        margin-left: 40px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 40px;
        margin-right: -80px;
        max-width: 60vw;
        font-size: 9px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
    .banner__buttons{
        margin-left: -40px;

    }
    .featured--vertical {
        width: 120%;
        height: 300%;
        margin-left: -55px;
        margin-top: 220px;
        margin-bottom: -29px;
        background: linear-gradient(to top, #111 20%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 200%;
        margin-top: -400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 170px;
        padding-top: 70px;
        background: linear-gradient(to right, #111 10%, transparent 90%);
        
    }
}
@media (max-width: 320px) {
    .banner {
    width: auto;
    margin-top: 0px;
    height: 30vh;
    color: #fff;
    position: relative;
    }
    .banner__title {
        font-size: 4vw;
        height: -8%;
        margin-top: 730px;
        margin-left: 40px;
        margin-right: -20px;
        font-weight: 800;
        max-width: 70rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,.85);
    }
    
    .banner__overview {
        margin: 1vw 0;
        margin-left: 40px;
        margin-right: -80px;
        max-width: 60vw;
        font-size: 9px;
        font-weight: 400;
        line-height: 1.4;
        text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    }
    .banner__buttons{
        margin-left: -40px;

    }
    .featured--vertical {
        width: 120%;
        height: 300%;
        margin-left: -51px;
        margin-top: 220px;
        margin-bottom: -19px;
        background: linear-gradient(to top, #111 20%, transparent 90%);
    }
    .featured--horizontal {
        width: auto;
        height: 200%;
        margin-top: -420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-bottom: 190px;
        padding-top: 70px;
        background: linear-gradient(to right, #111 10%, transparent 90%);
        
    }

}



